HTTP_PORT=8080

NEXT_PUBLIC_UMAMI_SCRIPT_URL=http://umami.localhost:8080/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_GLITCHTIP_DSN=

GLITCHTIP_SECRET_KEY=change-me-generate-a-long-random-secret
GLITCHTIP_DOMAIN=http://glitchtip.localhost:8080
GLITCHTIP_EMAIL_URL=consolemail://
GLITCHTIP_DEFAULT_FROM_EMAIL=glitchtip@example.local
GLITCHTIP_ENABLE_USER_REGISTRATION=true
GLITCHTIP_ENABLE_ORGANIZATION_CREATION=true
GLITCHTIP_POSTGRES_DB=glitchtip
GLITCHTIP_POSTGRES_USER=glitchtip
GLITCHTIP_POSTGRES_PASSWORD=change-me

UMAMI_APP_SECRET=change-me-generate-a-long-random-secret
UMAMI_POSTGRES_DB=umami
UMAMI_POSTGRES_USER=umami
UMAMI_POSTGRES_PASSWORD=change-me
